/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Colors */
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #cccc;


  /* Font sizes */
  --font-size-small: 0.9rem;
  --font-size-normal: 1rem;
  --font-size-medium: 1.12rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;
  --font-size-xxlarge: 2.3rem;


  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;


  /* Border radius */
  --border-radius-small: 8px;
  --border-radius-medium: 30px;
  --border-radius-circle: 50%;


  /* Size max width */
  --site-max-width: 1300px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

.section-content {
  margin: 0 auto;
  padding: 0px 20px;
  max-width: var(--site-max-width);
}
/* Navbar */
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: var(--primary-color);
}
header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-logo .logo-text {
  color: var(--white-color);
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-semibold);
}
.navbar .nav-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: var(--white-color);
  font-size: var(--font-size-medium);
  border-radius: var(--border-radius-medium);
  transition: 0.3s ease;
}
.navbar .nav-menu .nav-link:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}


.hero-section {
  background: var(--primary-color);
  min-height: 100vh;
}
.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: var(--white-color);
  justify-content: space-between;
}
.hero-section .hero-details .title {
  font-size: var(--font-size-xxlarge);
  color: var(--secondary-color);
  font-family: "Miniver", sans-serif;
}
.hero-section .hero-details .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-semibold);
}
.hero-section .hero-details .description {
  margin: 24px 0 40px;
  max-width: 70%;
  font-size: var(--font-size-medium);
}
.hero-section .hero-details .buttons {
  display: flex;
  gap: 23px;
}
.hero-section .hero-details .button {
  padding: 10px 26px;
  border: 2px solid transparent;
  color: var(--primary-color);
  border-radius: var(--border-radius-medium);
  background: var(--secondary-color);
  font-weight: var(--font-weight-medium);
  transition: 0.3s ease;
}
.hero-section .hero-details .button:hover {
  color: var(--white-color);
  border-color: var(--white-color);
  background: transparent;
}
.hero-section .hero-image-wrapper {
  max-width: 500px;
  margin-right: 30px;
}